/* CSS Style of the body */
body {
  background-color:#f3f3f3;
  padding:10px;

}

/* Style for the header */
.header {
  background-color: white;
  padding: 30px;
  text-align: center;

}

/* Style the top navigation bar */
.navigation {
  overflow: hidden;
  background-color: blue;
}



/* Style the footer */
.footer {
  background-color:white;
  padding:20px;
  text-align:center;
  color: black;
  margin-top:20px;
  
}
/* span style */
#span1 {
    float: left;
    width: 0.7em;
    font-size: 400%;
    /* font-family: algerian, courier; */
    line-height: 80%;
    margin:1px;
  }

  /* Image style */
  img {
   
   width: auto;
   height:auto;
   background-repeat: no-repeat;
   
  }

