/* CSS Style of the body */
body {
  background-color: #cfcfcf;
  padding: 10px;
}

/* Style for the header */
.header {
  background-color: white;
  padding: 30px;
  text-align: center;
}

/* Style the top navigation bar */
.navigation {
  overflow: hidden;
  background-color: blue;
}

/* Style the footer */
.footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: black;
  margin-top: 20px;
}
/* span style */
#beforepara {
  font-size: 150%;
  padding: 0px 3px 3px 3px; /* top:    1em padding  */
  /* right:  3px padding  */
  /* bottom: 30px padding */
  /* left:   5px padding  */
  display: inline;
}

/* Image style */
img {
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}
