/* CSS Style of the body */
body {
  background-color: rgb(212, 212, 212);
  margin: 0px;
}


/* Style for the header */
.header {
  background-color: red;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.navigation {
  overflow: hidden;
  background-color: blue;
}

/* Style the footer */
.footer {
    background-color:yellow;
    padding: 10px;
    text-align: center;
    color:black;
    position: fixed;
     bottom: 0;
     width: 100%;
  }
